<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Frontend Mentor | Huddle landing page with single introductory section
        link(rel="shortcut icon", href="./images/favicon-32x32.png", type="image/png")
        link(rel="stylesheet", href="./style/main.css")
        script(src="https://kit.fontawesome.com/0264e83a4a.js" crossorigin="anonymous")
    body
        header.container
            img(src="./images/logo.svg", alt="", srcset="")
        main.section.container
            figure 
                img(src="./images/illustration-mockups.svg", alt="", srcset="")
            article
                h1 Build The Community Your Fans Will Love
                p Huddle re-imagines the way we build communities. You have a voice, but so does your audience. Create connections with your users as you engage in genuine discussion. 
                br
                button Register
        footer.footer__container
            a(href="http://instagram.com/uncristianr", target="_blank", rel="noopener noreferrer")
                span
                    i.fab.fa-instagram
            a(href="http://twitter.com/uncristianr", target="_blank", rel="noopener noreferrer")
                span
                    i.fab.fa-twitter
            a(href="http://facebook.com/uncristianr/", target="_blank", rel="noopener noreferrer" class="first")
                span
                    i.fab.fa-facebook-f